@media only screen and (max-width: 600px) {
    .header .logo img{
         max-height: 60px;
    }
    .hero-img-resp{
        display: none;
    }
    .hero-text-resp{
        width:356px;
        margin-left:13px;
        margin-top :100px;
    }

    .hero h2{
        font-size: 32px;
    }

    .section-bg2-resp{
        margin-top:-110px;
        padding-left :70px;
        padding-right:70px;
    }

    .menu .tab-content .tab-header{
        padding:0;
    }

    .content-dekstop{
        margin:0;
      }

      .menu .tab-content .menu-item .menu-img{
        padding :0;

      }

      .menu .tab-content .menu-item{
        text-align:center;
      }

    

      .section-header p{
        font-size: 30px;
      }

      .section-bg{
        padding:0;
        padding-bottom:80px;
      }

      .why-us .why-box .more-btn{
        margin-left: -124px;

      }

      .why-box h4{
        font-weight: 600;
      }

      .section-bg3{
        padding:0px;
        
      }

      .wrapper{
        align-items: none;
        display:block; 
        padding: 10px 8px 0px 20px;
      }

      .ciliki{
        margin-top:37px;
      }

      .button-4{
        width:50%;
      }

      .stats-counter{
        padding :60px 22px;
      }

      .testimonials .section-header{
        margin-bottom:1px;
        margin-top:66px;
      }
      .section-header{
        margin-top :66px;
      }
      .footer-respon{
        color : #000;
      }

      .footer-respon span{
        color : #034037;
        font-weight :600;
      }

      .navbar .active, .navbar .active:focus{
        border-color: #d1B764;
      }

      .hero{
        background-size:auto;
      }
      .section{
        padding-top:60px;
      }

     
      
  }

/* CSS FOR TABLET SIZE */
  @media screen and (min-width: 768px) and (max-width: 1024px){
    .hero-text-resp{
      width:60%;
      margin-left:13px;
      margin-top :100px;
  }
  .hero-img-resp{
    display:none;
  }
  .section{
    padding:0px;
  }

  .menu .tab-content .menu-item{
    margin-left:-135px;
  }

  .wrapper{
    align-items: none;
    display:block; 
    padding: 10px 8px 0px 20px;
  }

  .img-container img{
    margin-bottom:24px;
  }

  .button-4{
    width:30%;
  }

  }